{% extends 'home/base-home.html' %}

{% block body %}
<div class="parallax">
    <div class="parallax-image">
    </div>

    <div class="motto">
      <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Pacifico">
        <h3>Encontre atividades, cursos e viagens para curtir a melhor idade em grande estilo.</h3>
        <h3 class="tituloCep" style="font-size: 24px; margin-top:0px;">

        </h3>
              <div class="boxCep">
            <div class="row">
                <div class="col-md-12">
                        <div class="form-group">
            <p><strong>Selecione a atividade que deseja praticar:</strong></p>
            <select class="form-control" id="selectAtividade" onchange="selectedAtividade();" style="font-size: 16px;">
              <option value="0">Selecione a atividade...</option>
              {% for atv in atividade %}
              <option value="{{atv.slug}}">{{atv.nome}}</option>
              {% endfor %}
            </select>
                        </div>
                </div>
            </div>
        </div>
        <div id="flow"></div>
    </div>
    <div class="arrow-down">
        <div>
            <a href="#flow">
                <i class="arrow pe-7s-angle-down"></i>
            </a>
        </div>
    </div>
</div>

<div class="section">
    <div class="container">
        <div class="clients-presentation">
          <hr />
          <h3 align="center">As melhores atividades em Ribeirão Preto</h3>
          <hr />
            <div class="row">
                <div class="col-md-3">
                    <div class="info">
                        <div class="icon icon-azure">
                            <i class="pe-7s-search"></i>
                        </div>
                        <div class="description">
                            <h4>Procure a atividade que deseja</h4>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="info">
                        <div class="icon icon-azure">
                            <i class="pe-7s-map-marker"></i>
                        </div>
                        <div class="description">
                            <h4>Encontre todos os lugares que oferecem</h4>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="info">
                        <div class="icon icon-azure">
                            <i class="pe-7s-medal"></i>
                        </div>
                        <div class="description">
                            <h4>Verifique quais estão disponíveis</h4>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="info">
                        <div class="icon icon-azure">
                            <i class="pe-7s-like2"></i>
                        </div>
                        <div class="description">
                            <h4>Avalie as atividades e recomende para os amigos!</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end section meet our clients -->
{% endblock %}
