{% extends 'home/base.html' %}

{% block body %}

		<div class="section section_aboutus">

			<div class="menus" style="position:relative">
					<div id="filterMobile" class="filter">
						<div style="position:relative; text-align: center;">
							<ul>
								<li class="col-md-12" style="text-align: left !important"><label for="divBuscas" style="color:white; margin-left: 0;">Busca:</label>
									<div id="divBuscas" class="searchBarFilter" style="margin-top: -10px;">
										<div class="search-bar">
											<form method="get" action="{% url 'atividade:list' %}">
											<div class="field-wrap">
												<input type="text" name="search" id="searchFilterField" class="field" placeholder="Busque pela atividade que você quer conhecer..." />
											</div>
											<input type="submit" class="btn-search" />
											</form>
										</div>
									</div>
								</li>
							</ul>
						</div>
					</div>
			</div>

        <div class="container" id="blog-cards">
            <div style="margin-bottom: 20px;">
                <h3 style="margin-left: 15px;margin-top: 15px;">Atividades em Ribeirão Preto</h3>
                <hr />
                <div id="divPrestadores">
									{% if count == 0 %}
									<p>Não foram encontradas atividades com as palavras: {{search}}.</p>
									{% endif %}
                {% for atv in atividade %}
        				<div class="col-md-4">
        				    <div class="card" style="padding-bottom: 1%;">
        				        <div class="image_services">
        				            <img src="{{atv.get_foto_url}}" />
        				            <div class="filter">
        				            	<a class="btn btn-neutral btn-simple" href="{% url 'atividade:detail' atv.slug %}"><i class="fa fa-bookmark-o"></i> Ver Detalhes</a>
        				            </div>
        				        </div>
        				        <div class="content" style="position: relative; min-height: 110px; text-align:center;">
        			                <div class="col-md-12" style="padding-left: 0px; padding-right: 0px;">
        			                    <h4 class="title_prof"><strong>{{atv.nome}}</strong></h4>
        			                </div>
          				            <div class="footer col-md-12" style="margin-top: 5px; bottom: 10px; margin-right: 15px;">
          				                <div style="margin-top: 5px; width: 100%;">
          				                	<a class="btn btn-simple" style="border: 1px solid;border-color: #FD9941;width: 100%;height: 50px;border-radios: 10px;background-color: #FD9941;color: #FFFFFF;line-height: 30px;" href="{% url 'atividade:detail' atv.slug %}">
          				                    	<i class="fa fa-bookmark-o"></i> Ver Detalhes</a>
          				                </div>
          				            </div>
        				        </div>
          			    </div> <!-- end card -->
                </div>
    	          {% endfor %}
				</div>

		</div>
		</div>
		</div>
{% endblock %}
