{% load static %}

<!DOCTYPE HTML>

<html>

<head>
    <title>youSeg | Serviços para a segurança do seu lar</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
    <meta name="viewport" content="width=device-width" />

    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" media="screen" />

    <link rel="stylesheet" media="screen" href="{% static 'css/gsdk.css' %}"/>

    <link rel="stylesheet" media="screen" href="{% static 'css/demo.css' %}"/>

    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Grand+Hotel|Open+Sans:400,300" rel="stylesheet" type="text/css" />

    <link rel="stylesheet" media="screen" href="{% static 'css/pe-icon-7-stroke.css' %}"/>

    <script src="{% static 'js/jquery.min.js' %}"></script>

  	<script src="{% static 'js/bootstrap.js' %}"></script>

    <link rel="stylesheet" media="screen" href="{% static 'css/examples.css' %}"/>

    <link rel="stylesheet" media="screen" href="{% static 'css/menu.css' %}"/>

    <link rel="stylesheet" media="screen" href="{% static 'css/main.css' %}"/>

</head>
<body>

<nav class="navbar navbar-ct-silver navbar-fixed-top" role="navigation" style="position:relative; margin-bottom: 0px;">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button id="menu-toggle" type="button" class="navbar-toggle">
                <span class="sr-only">Navegação</span>
                <span class="icon-bar bar1"></span>
                <span class="icon-bar bar2"></span>
                <span class="icon-bar bar3"></span>
            </button>
            <a class="navbar-brand" href="/">
                <img src="{% static 'img/logoSite_youSeg.png' %}" alt="" width="156px" style="margin-top: -13px;" />
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse">

            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        Sobre a youSeg
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="/termos/">Termos e condições de uso</a></li>
                    </ul>
                </li>
                <li><a href="/contato/">Contato</a></li>
            </ul>

        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->

</nav>

<div class="wrapper">
    <div class="section section_aboutus">
        <div class="container">
            <h2 class="section-title">Obrigado pelo seu contato!</h2>
            <div class="row">
                <div class="col-md-12">{{agendamento.nome}}, obrigado pelo seu interesse! Em breve entraremos em contato.
                </div>
            </div>
        </div>
    </div><!-- section -->
    <div class="space-50"></div>
    <div class="section section-gray" id="footers">

        <footer class="footer footer-big footer-transparent" style="background-image: url('../assets/img/footer01.jpg')">

            <!-- .footer-black is another class for the footer, for the transparent version, we recommend you to change the url of the image with your favourite image.          -->

            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-md-offset-1">
                        <h5 class="title">youSeg</h5>
                        <nav>
                            <ul>
		                        <li><a href="/termos/">Termos e condições de uso</a></li>
				                <li><a href="/contato/">Contato</a></li>
                            </ul>
                        </nav>
                    </div>
                    <div class="col-md-3 col-md-offset-1">
                        <h5 class="title">Categorias de serviços</h5>
                        <nav>
                            <ul>
                            	<th>
	                                <li><span style="color: #9A9A9A"><th>Informática</th></span></li>
                            	</th>
                            	<th>
	                                <li><span style="color: #9A9A9A"><th>CFTV</th></span></li>
                            	</th>
                            	<th>
	                                <li><span style="color: #9A9A9A"><th>Alarme</th></span></li>
                            	</th>
                            	<th>
	                                <li><span style="color: #9A9A9A"><th>Controle de Acesso</th></span></li>
                            	</th>
                            	<th>
	                                <li><span style="color: #9A9A9A"><th>Elétrica</th></span></li>
                            	</th>
                            	<th>
	                                <li><span style="color: #9A9A9A"><th>Hidráulica</th></span></li>
                            	</th>
                            	<th>
	                                <li><span style="color: #9A9A9A"><th>Alvenaria</th></span></li>
                            	</th>
                            	<th>
	                                <li><span style="color: #9A9A9A"><th>Serralheria</th></span></li>
                            	</th>
                            	<th>
	                                <li><span style="color: #9A9A9A"><th>Ferragem</th></span></li>
                            	</th>
                            	<th>
	                                <li><span style="color: #9A9A9A"><th>Ar condicionado</th></span></li>
                            	</th>
                            </ul>
                        </nav>
                    </div>
                    <div class="col-md-3 col-md-offset-1">
                        <h5 class="title">Área de cobertura</h5>
                        <nav class="numbers">
                        	<ul>
                        		<th>
                                	<li><a href="/prestadores?cidade=ribeirao-preto"><th>Ribeirão Preto</th></a></li>
                                </th>
                        		<th>
                                	<li><a href="/prestadores?cidade=serrana"><th>Serrana</th></a></li>
                                </th>
                        		<th>
                                	<li><a href="/prestadores?cidade=sertaozinho"><th>Sertãozinho</th></a></li>
                                </th>
                        		<th>
                                	<li><a href="/prestadores?cidade=franca"><th>Franca</th></a></li>
                                </th>
                        		<th>
                                	<li><a href="/prestadores?cidade=serra-azul"><th>Serra Azul</th></a></li>
                                </th>
                        		<th>
                                	<li><a href="/prestadores?cidade=viradouro"><th>Viradouro</th></a></li>
                                </th>
                        		<th>
                                	<li><a href="/prestadores?cidade=pitangueiras"><th>Pitangueiras</th></a></li>
                                </th>
                        		<th>
                                	<li><a href="/prestadores?cidade=pontal"><th>Pontal</th></a></li>
                                </th>
                        		<th>
                                	<li><a href="/prestadores?cidade=luiz-antonio"><th>Luis Antônio</th></a></li>
                                </th>
                        		<th>
                                	<li><a href="/prestadores?cidade=jardinopolis"><th>Jardinópolis</th></a></li>
                                </th>
                        		<th>
                                	<li><a href="/prestadores?cidade=cravinhos"><th>Cravinhos</th></a></li>
                                </th>
                        		<th>
                                	<li><a href="/prestadores?cidade=sao-simao"><th>São Simão</th></a></li>
                                </th>
                        		<th>
                                	<li><a href="/prestadores?cidade=santa-rosa-de-viterbo"><th>Santa Rosa de Viterbo</th></a></li>
                                </th>
                        		<th>
                                	<li><a href="/prestadores?cidade=pocos-de-caldas"><th>Poços de Caldas</th></a></li>
                                </th>
                        		<th>
                                	<li><a href="/prestadores?cidade=juruce"><th>Jurucê</th></a></li>
                                </th>
                        		<th>
                                	<li><a href="/prestadores?cidade=brodowski"><th>Brodowski</th></a></li>
                                </th>
                        		<th>
                                	<li><a href="/prestadores?cidade=santa-barbara-doeste"><th>Santa Bárbara D&#39;Oeste</th></a></li>
                                </th>
                        		<th>
                                	<li><a href="/prestadores?cidade=americana"><th>Americana</th></a></li>
                                </th>
                        		<th>
                                	<li><a href="/prestadores?cidade=campinas"><th>Campinas</th></a></li>
                                </th>
                            </ul>
                        </nav>
                    </div>
                </div>
                <hr />
                <div class="social-area text-center">
                    <h5>Siga-nos nos links abaixo </h5>
                    <a href="https://www.facebook.com/voceseg/" target="_blank" class="btn btn-social btn-round">
                        <i class="fa fa-facebook"></i>
                    </a>
                    <a href="https://www.instagram.com/voceseguro/" target="_blank" class="btn btn-social btn-round">
                        <i class="fa fa-instagram"></i>
                    </a>
                    <a href="https://plus.google.com/u/0/107761337422012203268/about" target="_blank" class="btn btn-social btn-round">
                        <i class="fa fa-google-plus"></i>
                    </a>
                    <a href="https://www.linkedin.com/company/10323729" target="_blank" class="btn btn-social btn-round">
                        <i class="fa fa-linkedin"></i>
                    </a>
                    <a href="https://www.youtube.com/channel/UCmqn6C-8WyHuBuW82fH9kew" target="_blank" class="btn btn-social btn-round">
                        <i class="fa fa-youtube"></i>
                    </a>
                </div>

                <div class="copyright">
                    © Copyright 2016 - Todos os direitos reservados para youSeg
                </div>
            </div>
        </footer>
    </div>
</div>
<!-- end wrapper -->

<!-- </div> -->

</body>

<!--  jQuery and Bootstrap core files    -->
<script type="text/javascript" src="{% static 'js/jquery-ui.custom.min.js' %}"></script>

<!--  Plugins -->
<script src="{% static 'js/gsdk-checkbox.js' %}"></script>
<script src="{% static 'js/gsdk-morphing.js' %}"></script>
<script src="{% static 'js/gsdk-radio.js' %}"></script>
<script src="{% static 'js/gsdk-bootstrapswitch.js' %}"></script>
<script src="{% static 'js/bootstrap-select.js' %}"></script>
<script src="{% static 'js/bootstrap-datepicker.js' %}"></script>
<script src="{% static 'js/chartist.min.js' %}"></script>
<script src="{% static 'js/jquery.tagsinput.js' %}"></script>
<script src="{% static 'js/login-register.js' %}"></script>
<script src="{% static 'js/jquery.mask.min.js' %}"></script>
<script src="{% static 'js/search.js' %}"></script>

<!--  Get Shit Done Kit PRO Core javascript 	 -->
<script src="{% static 'js/main.js' %}"></script>

<!--  Get Shit Done Kit PRO methods used for demo purpose      -->
<script src="{% static 'js/custom.js' %}"></script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-80192282-1', 'auto');
  ga('send', 'pageview');

</script>
<script type="text/javascript">
	function initMap() {
      var myLatlng = new google.maps.LatLng(-21.184106, -47.798222);
      var mapOptions = {
          zoom: 15,
          center: myLatlng,
          scrollwheel: false, //we disable de scroll over the map, it is a really annoing when you scroll through page
      };

      var map = new google.maps.Map(document.getElementById("map"), mapOptions);

      var marker = new google.maps.Marker({
          position: myLatlng,
          title: "youSeg"
      });

      marker.setMap(map);
	}
</script>
<script src="https://maps.googleapis.com/maps/api/js?callback=initMap"></script>
<script type="text/javascript">
	var maskTelefone = function (val) {
		  return val.replace(/\D/g, '').length === 11 ? '(00) 00000-0000' : '(00) 0000-00009';
		},
		maskOptions = {
		  onKeyPress: function(val, e, field, options) {
		      field.mask(maskTelefone.apply({}, arguments), options);
		    }
		};
	$('#telefone').mask(maskTelefone, maskOptions);
</script>

</html>
